Environment variables:
  APP_DEBUG bool
    	Режим отладки
  APP_HOST string
    	Хост (default "localhost")
  APP_PORT int
    	Порт на котором запускается приложение (default "8080")
  AUTH_ACCESS_ALGO string
    	Алгоритм шифрования access-токена (default "HS256")
  AUTH_ACCESS_DURATION int
    	Время жизни токена
  AUTH_ACCESS_KEY string
    	Секрет для access-токенов
  AUTH_REFRESH_ALGO string
    	Алгоритм шифрования refresh-токена (default "HS256")
  AUTH_REFRESH_DURATION int
    	Время жизни токена
  AUTH_REFRESH_KEY string
    	Секрет для refresh-токенов
  AUTH_SERVICE_ADDRESS string
    	Адрес микросервиса
  CLID_MARKET string
    	CLID для яндекс маркета
  CONFIG_SERVICE_ADDRESS string
    	Адрес микросервиса
  MONGO_DATABASE string
    	Имя базы данных MongoDB (default "admin")
  MONGO_HOST string
    	Хост MongoDB (default "mongo")
  MONGO_PASSWORD string
    	Пароль MongoDB (опционально)
  MONGO_PORT int
    	Порт MongoDB (default "27017")
  MONGO_USER string
    	Пользователь MongoDB (опционально)
  OPEN_AI_KEY string
    	Ключ API Open AI
  POSTGRES_DATABASE string
    	Имя базы данных
  POSTGRES_HOST string
    	Хост базы (default "postgres")
  POSTGRES_PASSWORD string
    	Пароль от базы
  POSTGRES_PORT int
    	Порт базы данных (default "5432")
  POSTGRES_USER string
    	Пользователь базы
  QUEUE_SERVICE_ADDRESS string
    	Адрес микросервиса
  REQUEST_SERVICE_ADDRESS string
    	Адрес микросервиса
  VERSION string
    	Версия приложения (default "0.1")