@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #A7B8B5;
    font-family: 'Onest', sans-serif;
}

.ce-popover--opened>.ce-popover__container {
    background-color: #082D3A;
    border: 0;
    animation: slide-on-bottom;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}

.ce-popover__items::-webkit-scrollbar-track {
    border-radius: 99px;
    background-color: #082D3A;
}

.ce-popover__items::-webkit-scrollbar {
    width: 5px;
    background-color: #082D3A;
}

.ce-popover__items::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #267491;
}

.ce-inline-tool,
.ce-popover-item {
    color: #A7B8B5;
}

.cdx-search-field__input,
.cdx-search-field__input::placeholder,
.ce-inline-tool-input,
.ce-inline-tool-input::placeholder {
    color: #082D3A;
    font-weight: bold;
}

.ce-inline-tool:hover,
.ce-popover-item:hover {
    background-color: #267491;
    color: #267491;
}

@keyframes slide-on-bottom {
    from {
        transform: translateY(40%);
    }

    to {
        transform: translateY(0);
    }
}



.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}